.map-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.map {
    width: 100%;
    max-width: 800px;
    height: 400px;
    border: 0;
    border-radius: 5px;
}

.whatsapp-float {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 20px;
    right: 20px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 1000;
}

.whatsapp-float img {
    width: 100%;
    height: auto;
}

#contact {
    padding: 20px;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container {
    max-width: 800px;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
}

h2 {
    color: #005aaa;
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #005aaa;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: #005aaa;
    outline: none;
}

.form-group textarea {
    resize: vertical;
    height: 150px;
}

.form-group button {
    padding: 12px 20px;
    background-color: #005aaa;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.form-group button:hover {
    background-color: #003d82;
    transform: translateY(-2px);
}

.form-group button:active {
    background-color: #002d63;
    transform: translateY(0);
}
